.header{
 height: 70px; 
 display: flex;
 position: sticky;
 align-items: center;
 justify-content: space-between;
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(179,29,253,0.9422799422799423) 11%, rgba(252,176,69,1) 100%);
top: 0px;
z-index: 100;
  overflow: hidden;
}

.header__logo{
  width: 20vmax;
  height: 10vmax;
   margin: 20px 10px 13px;
   object-fit: contain;
    text-align: center;
   overflow: hidden;


}
.header__search{
    display: flex;
    align-items: center;
     border-radius: 50px;
}

.header__search_Input{

    height: 12px;
    border:  none;
    padding: 10px;
    width: 20vmax;

  
}
.header__searchIcon{

  background-color: #cd9042;
     padding: 5px;
     height: 22px !important;
     
}
.header__nav{
    display: flex;
   margin-left: -70px;


  }

  .header__nav>ul{
    display: flex;
    justify-content: space-between;
 
   
    width: 30vmax;  
    font-size: 1.2rem;
     align-items: center;
     text-align: center;
   list-style: none;
   margin-left: 0px;
  }
  
  ul>li>a{
     color: white;
    text-decoration: none;
  }


.header__optionBasket{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 10px;
   
}
.header__basketCount{
    margin: 0px 10px; 
     color: inherit;
    text-decoration: none;
     
}

@media only screen and (max-width: 800px){
	.header__search_Input{
        margin-top: 5px;
        height: 9px;   
  
    }
    .header__searchIcon{
           margin-top: 5px;
        padding: 3.5px;   
    }
    .header__nav{
        padding: 20px;
    }
     .header__nav>ul>li>a{
    font-size: 12px;
 
      }
    
}