#featured {
  margin-top: 3rem;
}

.featured_slides {
  text-align: center;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px) {
  .featured_slides {
    width: 16rem;
  }
}

.featured_swiper {
  padding-top: 3rem !important;
  padding-bottom: 5rem !important;
}

.featured_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.featured_img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.featured_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide:not(.swiper-slide-active) .featured_img img {
  opacity: 0.5;
}

.swiper-slide-active .featured_img img {
  max-width: 90%;
  max-height: 90%;
}

.products_price {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}

.products_price small {
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(75, 66, 66);
  text-decoration: line-through;
  margin-left: 1rem;
}

.products_price small del {
  color: rgb(75, 66, 66);
}

.featured_slides:hover .products_price small del {
  color: #e30605;
}

.featured_slides:hover .products_price {
  color: #e30605;
}

.featured_slides:hover .featured_title {
  color: #e30605;
}

.featured_slides:hover .featured_title,
.featured_slides:hover .products_price {
  transition: all 0.2s ease;
}

.swiper-pagination-bullet-active {
  background: #e30605 !important;
}

.swiper-slide-active .featured_title {
  color: #e30605;
}

.swiper-slide-active .products_price small del {
  color: rgb(75, 66, 66);
}

.swiper-slide-active .products_price {
  color: #e30605;
}
