.loading{
   width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 100%;
   justify-content: center;
}
.loading>div{
  
      width: 10vmax;
  height: 10vmax;
   
    border-bottom: 3px solid rgba(0, 0, 0, 0.71);
    border-top: .3px solid rgba(0, 0, 0, 0.71);

     animation: loadingRotate 800ms linear infinite;
    border-radius: 50%;
}
@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}