.drawer {
width: 240px;
flex-shrink: 0;
}

.drawerPaper {
width: 240px;
background-color: rgb(37, 37, 37) !important;
-webkit-box-shadow: 7px 10px 7px -2px rgba(79, 78, 79, 0.75) !important;
-moz-box-shadow: 7px 10px 7px -2px rgba(79, 78, 79, 0.75) !important;
box-shadow: 7px 10px 7px -2px rgba(79, 78, 79, 0.75) !important;
}

.closeBtn {
position: absolute;
top: -0.5rem;
right: 0.1rem;
color: #fff;
font-size: 2px;
border-radius: 50%;
}

.closeBtn:hover {
background-color: #e30605 !important;
color: #fff !important;
}

.listItem {
margin-top: 16px;
margin-bottom: 8px;
margin-right: 0;
margin-left: 0;
border-radius: 5px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.listItem:hover {
background-color: #e30605 !important;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
color: #fff !important;
}

.listItemText {
color: #fff !important;
}

.listItemText svg {
fill: #fff !important;
}

.listItemText:hover {
color: #fff !important;
}

.icon {
color: #fff !important;
}